<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Girls Blog</title>
</head>
<body>
    {% if posts %}
    {% for post in posts %}
    <header>
        <h1><a href="/">{{ post.title }}</a></h1>
    </header>

    <article>
        <time>published: {{ post.published_date}}</time>
        <p>{{ post.text | linebreaksbr }}</p>
        <h7>{{ post.author }}</h7>
    </article>

    
    {% endfor %}
    
    {% else %}
    <p>No posts yet.</p>
    {% endif %}
</body>
</html>